 <header class="has-text-centered nav-title">
        <h1>Daily Dad Motivation Gallery</h1>
        <nav>
            <ul class="pure-g">
                <a href="generate.html">
                    <li><button class="button1">Go to Generation Page</button>
                </a></li>
                <li><button id="logout2" class="button1">Log Out</button></li>
            </ul>
        </nav>
    </header>