<header class="has-text-centered nav-title">
    <h1>Get Your Daily Dad Motivation!</h1>
    <nav>
        <ul class="pure-g">
            <a href="gallery.html"><button class="button1">Go to Gallery</button></a></li>
            <li><button id="logout" class="button1">Log Out</button></li>
        </ul>
    </nav>
</header>

<p class="instructions">Directions: Scroll through the dad jokes and images below. When you find a pair you like, save the combination to the gallery.</p>

<section class="containers">

    <section class="joke-container" id="joke-id">
        <p id="dadJoke"></p>
        <button class="button2" id="jokeBtn">Refresh</button>
    </section>

    <section class="image-container">
        <div id="background-image-div">
            <img id="background-image">
        </div>
        <p id="images"></p>
        <button class="button2" id="imageButton">Refresh</button>
    </section>
</section>

<section>
    <button id="save">Save</button>
</section>
<script src="./js/script.js"></script>
<script src="./js/logout.js"></script>