  <div class="login-box">
        <h1>Login</h1>
        <form>
            <label>Username</label>
            <input id="login-un" type="text" placeholder="">
            <label>Password</label>
            <input id="login-pw" type="password" placeholder="">
            <input type="button" value="Submit">
        </form>
    </div>
    <p class="para-2">Don't have an account? <a href="/signup">Sign Up Here</a></p>