
body {
    margin: 0;
    padding-bottom: 50px;
    background-color: black;
    font-family: Comic Sans MS, Comic Sans, cursive
}

header h1 {
    color: black;
    font-size: 70px;
    margin: 0px;
    text-decoration: underline;
}

.nav-title {
    background-color: goldenrod;
}

header nav {
    padding-bottom: 20px;
    margin-bottom: 0px;
    border-bottom: 0px;
    margin-top: 20px;
    padding-right: 20px;
}

.pure-g {
    align-items: center;
    display: inline-flex;
    justify-content: space-around;
}

.button1 {
    font-size: 25px;
    color: goldenrod;
    padding: 10px;
    font-style: italic;
    background-color: black;
    padding: 14px 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: Comic Sans MS, Comic Sans, cursive;
    justify-content: center;
    margin: 10px;
}

button:hover {
    background-color: whitesmoke;
}

.button2 {
    font-size: 15px;
    color: goldenrod;
    font-style: italic;
    background-color: black;
    padding: 10px 20px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: Comic Sans MS, Comic Sans, cursive;
    justify-content: center;
    margin: 10px;
    margin-left: 70px;
    margin-top: 40px;
}

.containers {
    display: flex;
    justify-content: center;
}

.joke-container {
    box-shadow: 5px 10px 18px;
    padding: 30px;
    padding-bottom: 10px;
    margin: 40px;
    color: goldenrod;
    background-color: white;
}

.joke-container p {
    color: black;
}

.image-container {
    box-shadow: 5px 10px 18px;
    padding: 30px;
    padding-bottom: 30px;
    margin: 40px;
    color: goldenrod;
    background-color: white;
}

.image-container p {
    color: black;
}

.final-container {
    box-shadow: 5px 10px 18px;
    padding: 30px;
    padding-bottom: 30px;
    margin: 50px;
    color: goldenrod;
    background-color: white;
}

.final-container p {
    color: black;
    text-align: center;
}

